.mt-3 {
  margin-top: 30px;
}

.small-container {
  max-width: 386px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header-cocktail {
  padding: 50px;
  margin: 0px;
  height: 200px;
  background-size: cover;

}
