.left {
  width: 33.33333%;
  float: left;
}

.right {
  width: 66.66667%;
}

.cocktail-container {
  max-width: 1140px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.cocktail-item {
  padding-right: 15px;
  padding-left: 25px;
  flex-grow: 1;
}

.cocktail-item img {
  max-width: 100%;
  height: auto;
}

.space {
  margin-top: 20px;
}
