<div class="navbar-wagon navbar-fixed-top">
  <%= link_to "Mister Cocktail", cocktails_path, class: "navbar-wagon-item navbar-wagon-link"%>
  <button type="button" class="btn danger"><%= link_to "Add Cocktail", new_cocktail_path%></button>
</div>
