.cocktail-card {
  background-color: #fff;
}

.cocktail-name {
  text-align: center;
  padding: 2rem 2rem;
  font-weight: 300;
  line-height: 1.15;
  color: #fa4616;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: light;
}

.cocktail-image {
  height: 0;
  position: relative;
  padding-bottom: 100%;
}

img {
  width: 100%;
  transition: .5s ease;
}

.text {
  border: 1px solid white;
  padding: 1rem 4.75rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.cocktail-card:hover .overlay {
  bottom: 0;
  height: 100%;
}

.cocktail-card:hover a {
  color: white;
}

.text:hover {
  background-color: white;
  transition: background-color .1s,color .1s;

}


.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: rgba(255,65,0,.8);
  z-index: 1;
  transition: height .3s cubic-bezier(0,0,.2,1);
  overflow: hidden;
}

