.cocktail-form {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 20px 0px;
  border-top: 1px solid #fa4616;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 25px;
}

.mt-3 {
  margin-top: 1rem!important;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}
.btn-danger {
  background-color: #fa4616;

}

label {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

